/* layout setting */
html,body {
    font-family: '微軟正黑體', sans-serif !important;
}
.d-inline{ display: inline-block; }
.d-none{ display: none;}
body,.section-title h2,.section-title p,.section-title .view-all,.contact-details .contact-info ul li i,.contact-details .contact-info ul li a,footer a,.contact-details{
    color: #555;
}
.section-title:after{ background: #666; }
.m-b-5{ margin-bottom: 5px !important;}
.m-b-50{ margin-bottom: 50px !important; }

/* header */
header .brand {
    display: inline-block;
    padding: 0;
    width: 18vw;i
    line-height: 82px;
}
header .brand img{ width: 50% }

/* footer */
footer .subfooter{
    padding: 5px 0;
    background: #eb82b5;
    color: #fff;
}
footer .footer-widgets .footer-widget .inner{
    padding-top: 0;
}
footer .footer-widgets{
    padding: 0;
}
.footer-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}
footer .footer-widgets .footer-widget .footer-logo{
    margin-bottom: 0;
}

/* index page*/
.page-title{
    text-align: center;
}
.section-title h2 {
    font-size: 68px;
    font-family: 'Oswald','微軟正黑體', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.gradient-overlay:after, .gradient-overlay-hover:after, .gradient-slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 1;
}

.gradient2-overlay:after, .gradient2-overlay-hover:after, .gradient2-slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 0;
}

.loader3 .spin img {
    margin-top: 50px;
    max-width: 70px;
}

/* index step*/
.all_box{width:1200px; max-width:100%; margin:0 auto; padding:0;}

.step_T{
	text-align:center;
	padding: 80px 0 50px;}
.step_box1 {
    text-align: center;
    width: 10.5%;
    float: left;
}
.step_box1 img{
	width:90%;
	margin:auto;
	bottom:0;}
.step_box2 {
    width: 5%;
    float: left;
    margin: 0 1%;
}
.step_text {
    text-align: center;
    font-family: "微軟正黑體",Arail;
    background: #eb82b5;
    color: #FFF;
    font-size: 16px;
    padding: 5px 10px 5px;
    margin: 25px 0 0;
    width: auto;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 4px;
}
.step_trn {
    width: 15px;
    height: 18px;
    background: #eb82b5;
    -webkit-clip-path: polygon(100% 50%, 0% 100%,0% 0%);
    margin: 245% 40% 0;
}
.step_button {
    text-align: center;
    margin: 60px 0;
}
.step_button img:hover {
    padding-left: 25px;
    -webkit-transition: padding 0.2s cubic-bezier(0.55, 0.01, 0.42, 1);
}

/* index service */
.room-services-list ul{
    margin-bottom: 50px;
}
.room-services-list ul li{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background: #20408e;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
    border-radius: 23px;
    padding: 10px 0;
}

/* contact page */
.map {
    height: 582px;
    min-height: initial;
}
.contact-details .contact-info ul li {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #ffffff;
    width: 100%;
    height: 44px;
    line-height: 45px;
    margin-bottom: 18px;
    border: 1px solid #e3e3e3;
}
.map-canvas2 {
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    border-radius: 180px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.map-sub-canvas2 {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    background-color: rgb(229, 227, 223);
}
.circle-bg {
    width: 60vw;
    height: 60vw;
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin: 0 auto 40px;
    background: url('../images/customer/contact.jpg') center center;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 10px solid #e3e3e3;
}

/* about */
.about-text {
    font-size: 17px;
    font-weight: bold;;
}

/* ipad & mobile style */
@media screen and (max-width: 991px){
    /* layout */
    .back-to-top{ 
        right: 2vw;
        width: 40px;
        height: 40px;
    }
    main{padding: 0;}
    .back-to-top.active{ bottom: 70px;}
    .back-to-top i{ line-height: 40px;}
    /* header */
    header .brand{
        width: 35vw;
        line-height: 55px;
    }
    header .brand .logo img{ max-width: initial; width: 27vw;}
    .mm-menu .mm-panel_has-navbar .mm-navbar{ height: 55px;}
    /* footer */
    footer .footer-widgets .footer-widget .contact-details{
        width: 44vw;
    }
    footer .footer-widgets .footer-widget .contact-details li{
        font-size: 2.3vw;
        line-height: 1.5;
    }
    footer .footer-widgets .footer-widget{
        margin-bottom: 0;
        height: initial;
    }
    footer .footer-widgets .footer-widget .footer-logo{
        margin-bottom: 20px;
        width: 38vw;
    }
    footer .footer-widgets{ padding: 30px 0; }
    footer .subfooter .copyrights{
        font-size: 3vw;
        margin: 0;
    }
    /* index page */
    .room-services-list ul{ margin-bottom: 0; }
    .room-services-list ul li{
        font-size: 16px;
        letter-spacing: 0;
        margin-bottom: 12px;
        padding: 10px 0;
    }
    .section-title h2, .section-title.sm h2{ font-size: 30px; }
    .brand-item{
        height: 13vw;
        overflow: hidden;
    }
    .brand-item img{ transform: translateY(-25%); }
    /* step */
    .step_box1 { width: 100%; }
    .step_box1 img { width: 50%;}
    .step_text {
        margin: 10px auto 0;
        width: 200px;
        font-weight: 600;
        letter-spacing:2px;
    }
    .step_trn {
        width: 18px;
        height: 15px;
        background: #eb82b5;
        -webkit-clip-path: polygon(100% 0%, 0% 0%,50% 100%);
        margin: 170% 960% 230%;
    }
    .step_button img:hover {
        padding-left: 0;
    }

    /* contact page */
    .contact-info{ margin-bottom: 30px; }
    .map{ margin-bottom: 50px; height: 50vh;}

    /* reveal page */
    .gallery-page{ margin-top: 30px; min-height: 100vh}
    .gallery-filters{ margin-bottom: 30px; }
}
@media screen and (max-width: 576px){
    /* index */
    .brand-item{ height: 35vw; }
}
/* mobile style */
@media screen and (max-width: 375px){
    /* header  & footer*/
    header .brand .logo img{ max-width: initial; width: 50vw;}
    footer .footer-widgets .footer-widget .contact-details{
        width: 66vw;
    }
    footer .footer-widgets .footer-widget .contact-details li{
        font-size: 3.7vw;
        line-height: 1.5;
    }
    footer .footer-widgets .footer-widget .footer-logo{
        margin-bottom: 20px;
        width: 60vw;
    }
    /* index */
    .brand-item{ height: 50vw; }
    
}